*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;

        
}
.logo{
    position: relative;
    padding-left: 70px;
    padding-top: 11px;
    width: 80px;

}

.call{
    text-align: right;
   padding-right: 30%;
   top: -63px;
margin: 0 auto;
position: relative;
    height:90px;
}
.searchbar{
    text-align: right;
   padding-right: 3%;
   top: -150px;
margin: 0 auto;
position: relative;
    height:90px;
}
input[type="text"]{
    border-radius: 20px;
    padding: 15px;
    height: 40px;
  
    border: 1px solid gray ;  
}
.part1{
    height: 100px;
}
.part2{
    height: 50px;
    }
.navbar{
      color: white;
      padding-right: 60px;
}
.bgn img{
    width: 100%;
    height: 550px;
    padding: 0%;
}
.bgn{
    position: relative;
    text-align: center;
    color: white;
    
}
.content{    
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -5%);
    border: 2px solid black;
    background-color: #2b68a7;
}
.c1{
    font-size: 20px;
    margin: 30PX;
    
}
.amt{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: small;
    color: white;
    margin-top: 130px ;
    margin-left: -2ch;
    transform: translate(-4%);
    border: 2px solid black;
    background-color: darkblue;
}
/* .booking{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-20%,-45%);
    border: 4px solid black;
}
.b2{
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-20%,-45%);
    border: 4px solid black;
}
.bookcontent{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: -80%;
    border: 2px solid black;
    background-color: white;
} */
.hotelimgs{
    display: flex;
    flex-direction: row;

    width: 300px;
    height: 300px;
    position: relative;
   
   
}
.phead::after{
    content: "";
    width: 20px;
    color: black;
}
.firstph{
    margin-left: 70px !important;
    border: 1px solid black;
    padding: 10px;
    font-size: small;
}
